footer.mainFooter
    .container-fluid
        .mainFooter__top
            .row
                .col-md-3.col-12
                    .footerLogo
                        a(href="/")
                            img(src="images/logo.png" alt="")
                .col-md-3
                    .footerNavigation
                        ul
                            //- li
                            //-     a(href="/") Our Brand
                            //- li
                            //-     a(href="/") Sustainbility
                            //- li
                            //-     a(href="/") Corporate Citizenship
                            //- li
                            //-     a(href="/") Investor Relations
                            li
                                a(href="/") Home
                            li
                                a(href=`about${fileExtension}`) About NSG
                            li
                                a(href=`contact${fileExtension}`) Contact Us
                .col-md-3
                    //- .footerNavigation
                    //-     ul
                    //-         li
                    //-             a(href="/") Home
                    //-         li
                    //-             a(href="/") Events
                    //-         li
                    //-             a(href="/") Careers
                    //-         li
                    //-             a(href="/") Alumni
                    //-         li
                    //-             a(href="/") Sitemap
                    //-         li
                    //-             a(href="/") Cookie Preferences
                .col-md-3.col-12
                    .contactUsDetails
                        ul
                            li.heading CONTACT US
                            //- li
                            //-     a(href="/") <span>USA:</span> +1-000-000-0000
                            //- li
                            //-     a(href="/") <span>UK:</span> +44-000-000-0000
                            li
                                a(href="/") <span>INDIA:</span> +91-000-000-0000
                            li
                                a(href="/") <span>Email:</span> info@newsoulgenius.com
        .mainFooter__bottom
            .row.align-items-center
                .col-md-6
                    .copyRightSection
                        p © 2024 NSG COMPANY
                .col-md-6
                    .footerNavigation
                        ul
                            //- li
                            //-     a(href="/") Terms of use
                            //- li
                            //-     a(href="/") Accessibility
                            li
                                a(href=`privacy${fileExtension}`) Privacy Policy
                            //- li
                            //-     a(href="/") Cookie