extends layout

block header
    include partials/header

block content
    section.mainBanner.mainBanner--contact
        .mainBanner__img
            img(src="images/mainBanners/contactBanner.png" alt="")
        .mainBanner__content
            .container-fluid
                h2 <span>Contact</span> Us
                p How can we help you?
    section.mainContactUsForm
        .container-fluid
            .row
                .col-md-12
                    .mainContactUsForm__description
                        p Whether you’re looking for network management services, secure cloud hosting and support, or custom application development services, we’re here to help. Contact us today to learn what it’s like to partner with our team of IT specialists and how we can help your business succeed.
                .col-md-12
                    .mainContactUsForm__formHeading
                        h2 I’d like to talk about...
                .col-md-12
                    form.mainContactUsForm__formBox
                        .row
                            .col-md-4.form-group
                                input.form-control(type="text" placeholder="Full Name")
                            //- .col-md-4.form-group
                            //-     input.form-control(type="text" placeholder="Last Name")
                            .col-md-4.form-group
                                input.form-control(type="email" placeholder="Email")
                            .col-md-4.form-group
                                input.form-control(type="number" placeholder="Mobile")
                            .col-md-4.form-group
                                select.form-control
                                    option(value="Select Country") Select Country
                            .col-md-4.form-group
                                input.form-control(type="text" placeholder="Services / Solutions Type")
                            //- .col-md-4.form-group
                            //-     input.form-control(type="text" placeholder="How do you hear the NSG?")
                            //- .col-md-4.form-group
                            //-     input.form-control(type="text" placeholder="Select Budget")
                            .col-md-4.form-group
                                input.form-control(type="text" placeholder="What is the best to call you?")
                            .col-md-12.form-group
                                textarea.form-control(placeholder="Describe your requirements")
                            .col-md-12.form-group
                                .form-check
                                    input.form-check-input(type="checkbox" id="exampleCheck1")
                                    label.form-check-label(for="exampleCheck1") I agree to receive SMS messages from NSG. 
                            .col-md-12.buttonButton
                                button.btn.btn-primary(type="submit") Submit Now